.input-control{
    min-width: 320px;
}
:global(.button).search-button{
    background: #bd1f1f;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
:global(.icon){
    color: white;
}